/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Styling Starts Here */

/* My Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* General Styles */
html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1370px;
    width: 100%;
    line-height: 1.5;
}

button,
input,
select,
textarea {
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    font-weight: 600;
}

img,
audio,
video {
    width: 100%;
}

/* Variables */
:root {
    --primary: white;
    --secondary: black;
    --tertiary: red;
}

/* Containers */
.container-90 {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 1rem 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

/* Headings */
h1 {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}
/* Buttons */
.btn {
    position: absolute;
    right: 1rem;
    top: 1.15rem;
    background: var(--primary);
    color: var(--secondary);
    font-size: 1rem;
    padding: 0 .25rem;
    font-weight: 500;
    border: 1px solid var(--secondary);
    box-shadow: 2px 2px 0 0 var(--secondary),
    -1px -1px 0 0 var(--secondary);
}

.btn:hover {
    color: rgba(43, 144, 226, 0.815);
}

.btn:active {
    transform: translateY(1px);
}

/* Editor
.editor {
    min-height: 80vh;
    margin-top: 1rem;
    border: 2px solid rgba(43, 144, 226, 0.815);
    padding: 1rem .75rem;
}

/* placeholder styles */
/* .public-DraftEditorPlaceholder-root {
    color: #949494;
}

/* Heading styles */
/* .heading {
    font-weight: 700;
    font-size: 1.5rem;
} */

/* Bold styles */
/* .bold {
    font-weight: 700;
} */

/* red-text styles */
/* .red-text {
    color: red;
} */

/* underline-text */
/* .underline-text {
    text-decoration: underline;
}  */

.RichEditor-root {
    background: #fff;
    border: 2px solid rgba(43, 144, 226, 0.815);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 15px;
    min-height: 80vh;
    margin-top: 1rem;
  }
  
  .RichEditor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .RichEditor-editor .public-DraftEditorPlaceholder-root,
  .RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
  }
  
  .RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
  }
  
  .RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
  }
  
  .RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }
  
  .RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 20px;
  }
  
  .RichEditor-controls {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
  }
  
  .RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
  }
  
  .RichEditor-activeButton {
    color: #5890ff;
  }